@using System.Data
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div> 
        <form id="frmNewBook" method="post" action="@Url.Action("InsertRecord")">
            Book Title: <input name="txtTitle" />
            <br>
            Author Name:
            <select name="txtAName">
                <option selected>Select AuthorName</option>
                @foreach (DataRow dr in Model.Rows)
                {
                    <option value="@dr["AuthorName"].ToString()">@dr["AuthorName"].ToString()</option>
                }
            </select>
            <br>
            Price : <input name="txtPrice" />
            <br>
            <input type="submit" value="submit" name="action" />
            <input type="submit" value="Cancel" name="action" />
            <h1>Authors Details</h1>
            @{
                if (Model.Rows.Count > 0)
                {
                    <table border="1">
                        <thead>
                            <tr>
                                <td>AuthorId</td>
                                <td>Author Name</td>
                            </tr>
                        </thead>
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["AuthorId"].ToString()</td>
                                <td>@dr["AuthorName"].ToString()</td>
                            </tr>
                        }
                    </table>
                }
            }
        </form>
    </div>
</body>
</html>
