@using System.Data
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <form method="post" name="display">
            <h2>Home</h2>
            @Html.ActionLink("Add New BOOK","Insert")
            @*@Html.ActionLink("Display Authors", "Author")*@
            <br>
            @{ 
                if(Model.Rows.Count > 0)
                {
                        <table border="1">
                            <thead>
                                <tr>
                                    <td>BookID</td>
                                    <td>Title of the Book</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                </tr>
                            </thead>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["BookId"].ToString()</td>
                                    <td>@dr["Title"].ToString()</td>
                                    <td>@dr["AuthorName"].ToString()</td>
                                    <td>@dr["Price"].ToString()</td>
                                    <td>@Html.ActionLink("Edit","Edit",new { bookId = dr["BookId"].ToString()})</td>
                                    <td>@Html.ActionLink("Delete", "Delete", new { BookId = dr["BookId"].ToString()})</td>
                                </tr>
                            }
                        </table>
                }
            }
        </form>
    </div>
</body>
</html>
